
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: visible;
    padding: 0 10px;
}
.flex {
    display: flex;
    align-items: center;
}
li {
    list-style: none;
}
.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.btn-primary {
    background: #047aed;
}
.grid {
    display: flex;
    align-items: center;
    height: 50%;
    justify-content: center;
}

.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
}